@page
@model RazorPagesApp.Pages.Notes.IndexModel

@{
    ViewData["Title"] = "your portable NoteBook";
}

<h1>your portable NoteBook</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Note[0].title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note[0].description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note[0].date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note[0].importance)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Note) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.importance)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
